.footerStyle {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    background-color: #F9F9F9;
    color: #524641;
    bottom: 0;
    align-items: center;
    border-top: #D97852 solid 2px;;
    
    h2 {
        color: #D97852;
    }

    aside {
        display: flex;
        flex-direction: row;
        
    }
    
    svg{
        width: 40px;
        color: #CCCCCC;
        margin: 10px;
        align-items: top;
    }

    svg:hover{
        color: #5C1F06;
    }
}