.movieCard {

    padding: 10px;

    img {
        width: 80%;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    button{
        width: 100px;
        margin: 0 0 30px 0;
    }

}