.navStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #D97852 solid 2px;

    div {
        display: flex;
        align-items: flex-end;
    }

    a {
        padding: 10px;
        color: #524641;
        font-size: 18px;
        font-family: Titillium Web;
        padding: 0 20px 0 20px;
    }

    a:hover {
        color: #D97852
    }
}

.logo {
    color: #D97852;
    font-size: 54px;
    font-family: Titillium Web;
    font-weight: 900;
    margin:0;

}