.navStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: 50px;
    border-bottom: #D97852 solid 2px;

    div {
        padding: 50px;
    }

    a {
        padding: 10px;
        color:#524641;
        font-size: 18px;
        font-family: Titillium Web;
    }

    a:hover{
        color: #D97852
    }
}

.logo {
    color: #D97852;
    font-size: 54px;
    margin-left: 30px;
    font-family: Titillium Web;
    font-weight: 900;
}