.movieCard {
    display: flex;
    flex-direction: row;

    hgroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    img {
        width: 100%;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    button {
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center;
    }
}