.movieCard {
    display: flex;
    flex-direction: row;

    hgroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        object-fit: cover;
    }

    img {
        width: 100%;
    }

    article {
        display: flex;
        flex-direction: row;
    }
    

}